/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

h1{
    font-weight: 700px;
    font-size: 22px;
}

h2{
    font-weight: 700px;
    font-size: 18px;
}

p{
    font-weight: 400px;
    font-size: 16px;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}

/****** Barre de navigation ***********/
.navBar{
    /* Voir si il y a pas une autre maniere pour poistioner le navBar 50px plus a gauche*/
    width: 1390px;
    height: 79px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navBar__logo{
    padding: 30px 0;
}
.navBar__logo img{
    width: 61px;
    height: 19px;
}
.navBar__link{
    width: 344px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;
}
.navBar__link__ink{
    height: 33px;
    display: flex;
    align-items: end;
}
.navBar__link__ink:hover{
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

/****** Barre de Recherche ***********/
.recherchBar{
    width: 1340px;
    height: 281px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 0 35px 0;
}
.rechercheBar__title{
    height: 53px;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
}
.rechercheBar__title h1, p{
    margin: 0;
}
.recherchBar__form{
    display: flex;
    flex-direction: rows;
    width: 377px;
    height: 49px;
}
.recherchBar__form_location{
    border-top-left-radius: 15px; 
    border-bottom-left-radius: 15px ;
    background-color: var(--main-bg-color) ;
    width: 50px;
    height: 49px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.recherchBar__form_location i{
    color:black;
}
.recherchBar__form__saisie input[type=search]{
    border: 1px solid #F2F2F2;
    outline: none;
    text-align: center;
    width: 195px;
    font-weight: 700px;
    font-size: 18px;
}

.desktop_search{
    
    border-top-right-radius: 15px; 
    border-bottom-right-radius: 15px ;
    border: 1px solid var(--main-color);
    color: white;
    background-color: var(--main-color);
    padding: 0px 16px;
}
.mobile_search{
    display: none;
    border-radius: 15px;
    overflow: hidden;
    width: 49px;
    height: 49px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    padding: 0px 16px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.mobile_search i{
    color: white;
}

/****** Filtre ***********/
.filterBar{
    display: flex;
    flex-direction: rows;
    align-items: center;
    gap: 15px;
}
.filterBar__button{
    border: 2px solid var(--filter-bg-color);
    border-radius: 25px;
    background-color: white;
    height: 50px;
    padding: 4px 19px;
    display: flex;
    flex-direction: rows;
    align-items: center;
    
}
.filterBar__button i{
    padding-right: 10px;
    font-size: 17px;
}
.filterBar__button h2{
    font-size: 17px;
}
.filterBar__button:hover{
    background-color: var(--filter-bg-color);
}

.info{
    height: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.info__icone{
    width: 24px;
    height: 23px;
    border: 1px solid var(--filter-bg-color);
    border-radius: 24px;
    text-align: center;
}
.info__icone i{
    font-size: 10px;
}
.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 35px 0;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergements_title{
    margin-bottom: 30px;
}
.hebergements-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hebergements-cards__rows{
    display: flex;
    flex-direction: row;
    gap:30px ;
    margin-bottom: 30px;
}
.hebergements-cards__rows a{
    width: 100%;
}
.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.hebergements-cards img{
    width: 100%;
    height: 114px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hebergements-cards .card-content {
    padding: 0 15px 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
.hebergements-cards h2{
    margin: 0;
}
.hebergements-cards .card-subtitle {
    margin: 0;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/****** Activite ***********/
.activite {
    padding: 30px;
}
.activite-title{
    margin-bottom: 30px;
}
.activite-title h1 {
    margin: 0;
}

.activite-cards{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.activite-cards a{
    width: 100%;
}
.activite-cards .card {
    padding: 0;
}

.activite-cards img {
    width: 100%;
    object-fit: cover;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activite-cards .card-content {
    padding: 20px 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}

.activite-cards .card-title {
    margin: 0;
}

/****** Footer ***********/
.footer-container{
    background-color: var(--main-bg-color) ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.footer-container .content{
    width: 100%;
    padding: 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer-container .content h2{
    margin: 0;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .navBar{
        width: 974px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activite-cards img{
        height: 200px;
    }
    .activite-cards .card-content{
        height: 70px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container{
        padding: 0;
    }
    .navBar{
        width: 100%;
        height: 115px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navBar__link{
        width: 100%;
        display: flex;
        align-items: start;
        height: 36px;
    }
    .navBar__link__ink{
        display: flex;
        align-items: start;
        justify-content: center;
    }
    .navBar__link a{
        width: 100%;
    }
    .navBar__link__ink:hover{
        border: none;
        border-bottom: 2px solid var(--main-color);
    }
    .recherchBar{
        margin: 20px;
        width: 335px;
    }
    .rechercheBar__title{
        object-fit: fill;
        height: 79px;
    }
    .recherchBar__form{
        width: 335px;
    }
    .recherchBar__form__saisie input[type="search"]{
        width: 236px;
        /* voir comment faire le border-raduis inverse */
    }
    .desktop_search{
        display: none;
    }
    .mobile_search{
        display: block;
    }
}